#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  background: radial-gradient(
      circle at center,
      #3c2f1c 0%,
      #0d0904 50%,
      #000 100%
    ),
    repeating-radial-gradient(
      circle at 0 0,
      rgba(255, 255, 255, 0.02) 0,
      rgba(255, 255, 255, 0.02) 1px,
      transparent 1px,
      transparent 3px
    );
  background-blend-mode: overlay;
  overflow: hidden;
}
canvas {
  z-index: 0;
}
